<%layout('../layout')%>
<script src="/roslibjs/build/roslib.js"></script>
<script>  
  // Connecting to ROS
  // -----------------
  var ros = new ROSLIB.Ros();
  var joint_value = [0,0,0,0,0,0];
  var joint_value_deg =[0,0,0,0,0,0];
  var robot_pose = [0,0,0,0,0,0];
  var motor_temp = [0,0,0,0,0,0];
  var tcp_speed = [0,0,0,0,0,0];
  var joint_speed = [0,0,0,0,0,0];
  
  // If there is an error on the backend, an 'error' emit will be emitted.
  ros.on('error', function(error) {
    document.getElementById('connecting').style.display = 'none';
    document.getElementById('connected').style.display = 'none';
    document.getElementById('closed').style.display = 'none';
    document.getElementById('error').style.display = 'inline';
    console.log(error);
  });
  // Find out exactly when we made a connection.
  ros.on('connection', function() {
    console.log('Connection made!');
    //document.getElementById('connecting').style.display = 'none';
    //document.getElementById('error').style.display = 'none';
    //document.getElementById('closed').style.display = 'none';
    //document.getElementById('connected').style.display = 'inline';
  });
  ros.on('close', function() {
    console.log('Connection closed.');
    document.getElementById('connecting').style.display = 'none';
    document.getElementById('connected').style.display = 'none';
    document.getElementById('closed').style.display = 'inline';
  });
  // Create a connection to the rosbridge WebSocket server.
  ros.connect('ws://localhost:9090');

  // Publishing a Topic
  // ------------------

  // First, we create a Topic object with details of the topic's name and message type.
  var cmdVel = new ROSLIB.Topic({
    ros : ros,
    name : '/cmd_vel',
    messageType : 'geometry_msgs/Twist'
  });

  // Then we create the payload to be published. The object we pass in to ros.Message matches the
  // fields defined in the geometry_msgs/Twist.msg definition.
  var twist = new ROSLIB.Message({
    linear : {
      x : 0.1,
      y : 0.2,
      z : 0.3
    },
    angular : {
      x : -0.1,
      y : -0.2,
      z : -0.3
    }
  });

  // And finally, publish.
  cmdVel.publish(twist);

  //Subscribing to a Topic
  //----------------------

  // Like when publishing a topic, we first create a Topic object with details of the topic's name
  // and message type. Note that we can call publish or subscribe on the same topic object.
  var listener1 = new ROSLIB.Topic({
    ros : ros,
    name : '/joint_states',
    messageType : 'sensor_msgs/JointState'
  });

  // Then we add a callback to be called every time a message is published on this topic.
  listener1.subscribe(function(message) {
  //console.log('Received message on ' + listener1.name + ': ' + message.position);
  joint_value = message.position;
  joint_data_refresh();
  // If desired, we can unsubscribe from the topic as well.
  //listener1.unsubscribe();
  });
  
  var listener2 = new ROSLIB.Topic({
    ros : ros,
    name : '/robot_stateRT',
    messageType : 'ur_msgs/RobotStateRTMsg'
  });

  // Then we add a callback to be called every time a message is published on this topic.
  listener2.subscribe(function(message) {
  //console.log('Received message on ' + listener2.name + ': ' + message.tool_vector);
  robot_pose = message.tool_vector;
  motor_temp = message.motor_temperatures;
  tcp_speed = message.tcp_speed;
  joint_speed = message.qd_actual;
  pose_data_refresh();
  motor_temp_refresh();
  // If desired, we can unsubscribe from the topic as well.
  //listener2.unsubscribe();
  });

  // Getting a param value
  // ---------------------

  var favoriteColor = new ROSLIB.Param({
    ros : ros,
    name : 'favorite_color'
  });

  favoriteColor.set('red');
  favoriteColor.get(function(value) {
  console.log('My robot\'s favorite color is ' + value);
  });
</script>
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-12">
                   <h1 class="page-header">Robot Monitoring No.001</h1>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="urdf">
                </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
               <div class="col-lg-6">
             <div class="panel panel-default">
                <div class="panel-heading">
                    <b> End-effector Coordinates </b>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>TCP</th>
                                    <th>Position</th>
                                    <th>Speed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>X [mm]</td>
                                    <td> <div class=text id='robot_pose_x' /div> </td>
                                    <td> <div class=text id='speed_value_x' /div> </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Y [mm]</td>
                                    <td><div class=text id='robot_pose_y' /div></td>
                                    <td> <div class=text id='speed_value_y' /div> </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Z [mm]</td>
                                    <td><div class=text id='robot_pose_z' /div></td>
                                    <td> <div class=text id='speed_value_z' /div> </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>RX [rad]</td>
                                    <td><div class=text id='robot_pose_rx' /div></td>
                                    <td> <div class=text id='speed_value_rx' /div> </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>RY [rad]</td>
                                    <td><div class=text id='robot_pose_ry' /div></td>
                                    <td> <div class=text id='speed_value_ry' /div> </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>RZ [rad]</td>
                                    <td><div class=text id='robot_pose_rz' /div></td>
                                    <td> <div class=text id='speed_value_rz' /div> </td>
                                </tr>                                                                                                
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
               </div>
               <div class="col-lg-6">
             <div class="panel panel-default">
                <div class="panel-heading">
                   <b> Joint Value </b>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Joint Name</th>
                                    <th>Position</th>
                                    <th>Speed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Base_Joint [deg]</td>
                                    <td> <div class=text id='joint_value_1' /div></td>
                                    <td> <div class=text id='joint_1_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Shoulder_Joint [deg]</td>
                                    <td> <div class=text id='joint_value_2' /div></td>
                                    <td> <div class=text id='joint_2_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Elbow_Joint [deg]</td>
                                    <td> <div class=text id='joint_value_3' /div></td>
                                    <td> <div class=text id='joint_3_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Wrist_Joint_1 [rad]</td>
                                    <td> <div class=text id='joint_value_4' /div></td>
                                    <td> <div class=text id='joint_4_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>5</r>
                                    <td>Wrist_Joint_2 [rad]</td>
                                    <td> <div class=text id='joint_value_5' /div></td>
                                    <td> <div class=text id='joint_5_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Wrist_Joint_3 [rad]</td>
                                    <td> <div class=text id='joint_value_6' /div></td>
                                    <td> <div class=text id='joint_6_speed' /div></td>
                                </tr>                                                                                                
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
               </div>
              </div>

              <div class="row">
               <div class="col-lg-6">
               <div class="panel panel-default">
                <div class="panel-heading">
                    <b> Drag robot joint </b>
                     </div>
                     <br/>
                     <div class="row">
                     <div class="col-lg-2">
                     <b> Base </b>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> - </button>
                     </div>
                     <div class="col-lg-7">
                     <div class="progress">
                        <div id='base_joint_value'  class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                           40% Complete (success)
                        </div>
                     </div>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> + </button>
                     </div>
                     </div>
                      <br/>
                     <div class="row">
                     <div class="col-lg-2">
                     <b> Shoulder </b>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> - </button>
                     </div>
                     <div class="col-lg-7">
                     <div class="progress">
                        <div id='shoulder_joint_value'  class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                           40% Complete (success)
                        </div>
                     </div>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> + </button>
                     </div>
                     </div>
                     <br/>
                     <div class="row">
                     <div class="col-lg-2">
                     <b> Elbow </b>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> - </button>
                     </div>
                     <div class="col-lg-7">
                     <div class="progress">
                        <div id='elbow_joint_value'  class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                           40% Complete (success)
                        </div>
                     </div>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> + </button>
                     </div>
                     </div>
                     <br/>
                     <div class="row">
                     <div class="col-lg-2">
                     <b> Wirst_1 </b>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> - </button>
                     </div>
                     <div class="col-lg-7">
                     <div class="progress">
                        <div id='wrist_1_joint_value'  class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                           40% Complete (success)
                        </div>
                     </div>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> + </button>
                     </div>
                     </div>
                     <br/>
                     <div class="row">
                     <div class="col-lg-2">
                     <b> Wrist_2 </b>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> - </button>
                     </div>
                     <div class="col-lg-7">
                     <div class="progress">
                        <div id='wrist_2_joint_value'  class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                           40% Complete (success)
                        </div>
                     </div>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> + </button>
                     </div>
                     </div>
                     <br/>
                     <div class="row">
                     <div class="col-lg-2">
                     <b> Wrist_3 </b>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> - </button>
                     </div>
                     <div class="col-lg-7">
                     <div class="progress">
                        <div id='wrist_3_joint_value'  class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                           40% Complete (success)
                        </div>
                     </div>
                     </div>
                     <div class="col-lg-1">
                     <button type="button" class="btn btn-primary btn-xs"> + </button>
                     </div>
                     </div>                                                                                                      
                 </div>                                                                           
               </div>

        <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b> Drag TCP </b>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                  <div style="position:absolute; left:100px; top:74.7px; ">
                    <button style="font-size:23px"><i class="fa fa-arrow-up"></i></button><br><br>
                  </div>

                  <div style="position:absolute; left:64.8px; top:112px; ">
                    <button style="font-size:23px"><i class="fa fa-arrow-left"></i></button>
                  </div>

                  <div style="position:absolute; left:136.67px; top:112.5px; ">
                    <button style="font-size:23px"><i class="fa fa-arrow-right"></i></button><br><br>
                  </div>

                  <div style="position:absolute; left:100px; top:149.6px; ">
                    <button style="font-size:23px"><i class="fa fa-arrow-down"></i></button><br><br>
                  </div>

                  <div style="position:absolute; left:260px; top:81px; ">
                    <button style="font-size:30px"><i class="fa fa-arrow-up"></i></button><br><br><br>
                  </div>

                  <div style="position:absolute; left:260px; top:130px; ">
                   <button style="font-size:30px"><i class="fa fa-arrow-down"></i></button><br>
                  </div>
                   
                  <br><br><br><br><br><br><br><br> 

                  <div style="position:absolute; left:100px; top:(74.7+260)px; ">
                    <button style="font-size:23px"><i class="fa fa-arrow-up"></i></button><br><br>
                  </div>

                  <div style="position:absolute; left:64.8px; top:260px; ">
                    <button style="font-size:23px"><i class="fa fa-arrow-left"></i></button>
                  </div>

                  <div style="position:absolute; left:136.67px; top:260px; ">
                    <button style="font-size:23px"><i class="fa fa-arrow-right"></i></button><br><br>
                  </div>

                  <div style="position:absolute; left:100px; top:300px; ">
                    <button style="font-size:23px"><i class="fa fa-arrow-down"></i></button><br><br>
                  </div>

                  <div style="position:absolute; left:260px; top:220px; ">
                    <button style="font-size:30px"><i class="fa fa-arrow-up"></i></button><br><br><br>
                  </div>

                  <div style="position:absolute; left:260px; top:270px; ">
                   <button style="font-size:30px"><i class="fa fa-arrow-down"></i></button><br>
                  </div>

                  <br><br><br><br><br><br><br><br><br>
                 <!-- /.panel-body -->
            </div>

 
        </div>
        <!-- /.row -->
                </div>
               </div>
              </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script src="http://cdn.robotwebtools.org/threejs/current/three.js"></script>
<script src="http://cdn.robotwebtools.org/threejs/current/ColladaLoader.js"></script>
<script src="http://cdn.robotwebtools.org/threejs/current/STLLoader.js"></script>
<script src="http://cdn.robotwebtools.org/ColladaAnimationCompress/current/ColladaLoader2.js"></script>
<script src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script src="http://cdn.robotwebtools.org/roslibjs/current/roslib.js"></script>
<script src="/ros3djs/build/ros3d.js"></script>
<script>
  /**
   * Setup all visualization elements when the page is loaded. 
   */
    // Connect to ROS.
    //var ros = new ROSLIB.Ros({
    //  url : 'ws://localhost:9090'
    //});

    // Create the main viewer.
    var viewer = new ROS3D.Viewer({
      divID : 'urdf',
      width : 750,
      height : 780,
      antialias : true
    });

    // Add a grid.
    //viewer.addObject(new ROS3D.Grid());
    viewer.addObject(new ROS3D.Grid({
      color:'#0181c4',
      cellSize: 0.5,
      num_cells: 20
    }));
    // Setup a client to listen to TFs.
    var tfClient = new ROSLIB.TFClient({
      ros : ros,
      angularThres : 0.01,
      transThres : 0.01,
      rate : 10.0
      //fixedFrame : '/my_frame'
      //fixedFrame: '/base_link'
    });

    // Setup the marker client.
    /*var markerClient = new ROS3D.MarkerClient({
      ros : ros,
      tfClient : tfClient,
      topic : '/visualization_marker',
      rootObject : viewer.scene
    });*/

    new ROS3D.UrdfClient({
      ros : ros,
      tfClient : tfClient,
      path : 'http://127.0.0.1:8080/',
      frameID : 'base_link', 
      dataType: 'JSONP',
      rootObject : viewer.scene,
      loader :  ROS3D.COLLADA_LOADER_2
    });

</script>
<script type="text/javascript">
  function joint_data_refresh() 
  {
    joint_value_deg[0] = joint_value[0]*180/3.14;
    document.getElementById("joint_value_1").innerHTML = joint_value_deg[0].toFixed(2);
    joint_value_deg[1] = joint_value[1]*180/3.14;
    document.getElementById("joint_value_2").innerHTML = joint_value_deg[1].toFixed(2);
    joint_value_deg[2] = joint_value[2]*180/3.14;
    document.getElementById("joint_value_3").innerHTML = joint_value_deg[2].toFixed(2);
    joint_value_deg[3] = joint_value[3]*180/3.14;
    document.getElementById("joint_value_4").innerHTML = joint_value_deg[3].toFixed(2);
    joint_value_deg[4] = joint_value[4]*180/3.14;
    document.getElementById("joint_value_5").innerHTML = joint_value_deg[4].toFixed(2);
    joint_value_deg[5] = joint_value[5]*180/3.14;
    document.getElementById("joint_value_6").innerHTML = joint_value_deg[5].toFixed(2);
    
    /*document.getElementById("joint_1_value").innerHTML = joint_value_deg[0].toFixed(2);
    document.getElementById("joint_2_value").innerHTML = joint_value_deg[1].toFixed(2);
    document.getElementById("joint_3_value").innerHTML = joint_value_deg[2].toFixed(2);
    document.getElementById("joint_4_value").innerHTML = joint_value_deg[3].toFixed(2);
    document.getElementById("joint_5_value").innerHTML = joint_value_deg[4].toFixed(2);
    document.getElementById("joint_6_value").innerHTML = joint_value_deg[5].toFixed(2);*/
     }
</script>  

<script type="text/javascript">
  function motor_temp_refresh() 
  {
    /*document.getElementById("motor_base_temp").innerHTML = (motor_temp[0]).toFixed(2);
    document.getElementById("motor_shoulder_temp").innerHTML = (motor_temp[1]).toFixed(2);
    document.getElementById("motor_elbow_temp").innerHTML = (motor_temp[2]).toFixed(2);
    document.getElementById("motor_wrist_1_temp").innerHTML = (motor_temp[3]).toFixed(2);
    document.getElementById("motor_wrist_2_temp").innerHTML = (motor_temp[4]).toFixed(2);
    document.getElementById("motor_wrist_3_temp").innerHTML = (motor_temp[5]).toFixed(2);*/

    document.getElementById("speed_value_x").innerHTML = (tcp_speed[0]*1000).toFixed(4);
    document.getElementById("speed_value_y").innerHTML = (tcp_speed[1]*1000).toFixed(4);
    document.getElementById("speed_value_z").innerHTML = (tcp_speed[2]*1000).toFixed(4);
    document.getElementById("speed_value_rx").innerHTML = (tcp_speed[3]).toFixed(4);
    document.getElementById("speed_value_ry").innerHTML = (tcp_speed[4]).toFixed(4);
    document.getElementById("speed_value_rz").innerHTML = (tcp_speed[5]).toFixed(4);

    document.getElementById("joint_1_speed").innerHTML = (joint_speed[0]).toFixed(4);
    document.getElementById("joint_2_speed").innerHTML = (joint_speed[1]).toFixed(4);
    document.getElementById("joint_3_speed").innerHTML = (joint_speed[2]).toFixed(4);
    document.getElementById("joint_4_speed").innerHTML = (joint_speed[3]).toFixed(4);
    document.getElementById("joint_5_speed").innerHTML = (joint_speed[4]).toFixed(4);
    document.getElementById("joint_6_speed").innerHTML = (joint_speed[5]).toFixed(4);    
   }

</script>
<script type="text/javascript">
  function pose_data_refresh() 
  {
    document.getElementById("robot_pose_x").innerHTML = (robot_pose[0]*1000).toFixed(2);
    document.getElementById("robot_pose_y").innerHTML = (robot_pose[1]*1000).toFixed(2);
    document.getElementById("robot_pose_z").innerHTML = (robot_pose[2]*1000).toFixed(2);
    document.getElementById("robot_pose_rx").innerHTML = (robot_pose[3]*1).toFixed(4);
    document.getElementById("robot_pose_ry").innerHTML = (robot_pose[4]*1).toFixed(4);
    document.getElementById("robot_pose_rz").innerHTML = (robot_pose[5]*1).toFixed(4);
    
   }
</script>
<script>
   var pi=3.14;
    var id_1=document.getElementById('base_joint_value');
    window.setInterval(function(x){id_1.style.width=''+(((50*joint_value[0])/(2*pi))+50)+'%';},50);
    var id_2=document.getElementById('shoulder_joint_value');
    window.setInterval(function(x){id_2.style.width=''+(((50*joint_value[1])/(2*pi))+50)+'%';},50);
    var id_3=document.getElementById('elbow_joint_value');
    window.setInterval(function(x){id_3.style.width=''+(((50*joint_value[2])/(2*pi))+50)+'%';},50);
    var id_4=document.getElementById('wrist_1_joint_value');
    window.setInterval(function(x){id_4.style.width=''+(((50*joint_value[3])/(2*pi))+50)+'%';},50);
    var id_5=document.getElementById('wrist_2_joint_value');
    window.setInterval(function(x){id_5.style.width=''+(((50*joint_value[4])/(2*pi))+50)+'%';},50);
    var id_6=document.getElementById('wrist_3_joint_value');
    window.setInterval(function(x){id_6.style.width=''+(((50*joint_value[5])/(2*pi))+50)+'%';},50);
    
   /* var id_7=document.getElementById('pose_x_value');
    window.setInterval(function(x){id_7.style.width=''+(((50*joint_value[0])/(2*pi))+50)+'%';},50);
    var id_8=document.getElementById('pose_y_value');
    window.setInterval(function(x){id_8.style.width=''+(((50*joint_value[1])/(2*pi))+50)+'%';},50);
    var id_9=document.getElementById('pose_z_value');
    window.setInterval(function(x){id_9.style.width=''+(((50*joint_value[2])/(2*pi))+50)+'%';},50);
    var id_10=document.getElementById('pose_rx_value');
    window.setInterval(function(x){id_10.style.width=''+(((50*joint_value[3])/(2*pi))+50)+'%';},50);
    var id_11=document.getElementById('pose_ry_value');
    window.setInterval(function(x){id_11.style.width=''+(((50*joint_value[4])/(2*pi))+50)+'%';},50);
    var id_12=document.getElementById('pose_rz_value');
    window.setInterval(function(x){id_12.style.width=''+(((50*joint_value[5])/(2*pi))+50)+'%';},50);*/
    

</script>
