<%layout('../layout')%>
<script src="http://cdn.robotwebtools.org/threejs/current/three.js"></script>
<script src="http://cdn.robotwebtools.org/threejs/current/ColladaLoader.js"></script>
<script src="http://cdn.robotwebtools.org/threejs/current/STLLoader.js"></script>
<script src="http://cdn.robotwebtools.org/ColladaAnimationCompress/current/ColladaLoader2.js"></script>
<script src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script src="http://cdn.robotwebtools.org/roslibjs/current/roslib.js"></script>
<script src="/ros3djs/build/ros3d.js"></script>
<script src="/roslibjs/build/roslib.js"></script>
<script>  
  // Connecting to ROS
  // -----------------
  var ros = new ROSLIB.Ros();
  var joint_value = [0,0,0,0,0,0];
  var joint_value_deg =[0,0,0,0,0,0];
  var robot_pose = [0,0,0,0,0,0];
  var motor_temp = [0,0,0,0,0,0];
  var tcp_speed = [0,0,0,0,0,0];
  var joint_speed = [0,0,0,0,0,0];
  
  // If there is an error on the backend, an 'error' emit will be emitted.
  ros.on('error', function(error) {
    document.getElementById('connecting').style.display = 'none';
    document.getElementById('connected').style.display = 'none';
    document.getElementById('closed').style.display = 'none';
    document.getElementById('error').style.display = 'inline';
    console.log(error);
  });
  // Find out exactly when we made a connection.
  ros.on('connection', function() {
    console.log('Connection made!');
    //document.getElementById('connecting').style.display = 'none';
    //document.getElementById('error').style.display = 'none';
    //document.getElementById('closed').style.display = 'none';
    //document.getElementById('connected').style.display = 'inline';
  });
  ros.on('close', function() {
    console.log('Connection closed.');
    document.getElementById('connecting').style.display = 'none';
    document.getElementById('connected').style.display = 'none';
    document.getElementById('closed').style.display = 'inline';
  });
  // Create a connection to the rosbridge WebSocket server.
  ros.connect('ws://localhost:9090');

  // Publishing a Topic
  // ------------------
  // First, we create a Topic object with details of the topic's name and message type.
  var cmdVel = new ROSLIB.Topic({
      ros: ros,
      name: '/cmd_vel',
      messageType: 'geometry_msgs/Twist'
  });
  var linear_val = new ROSLIB.Topic({
      ros: ros,
      name: '/ur_driver/URScript',
      messageType: 'std_msgs/String'
  });
  var joint_val = new ROSLIB.Topic({
      ros: ros,
      name: '/ur_driver/URScript',
      messageType: 'std_msgs/String'
  });

        var twist = new ROSLIB.Message({
            linear: {
                x: 0.1,
                y: 0.2,
                z: 0.3
            },
            angular: {
                x: -0.1,
                y: -0.2,
                z: -0.3
            }
        });

        var temp_Pdata = ["0.0", "0.0", "0.0", "0.0", "0.0", "0.0"];
        var robot_pose = [0.04343, -0.69536, 0.47229, 0, -3.166, 0]; //Drafted original position values of robot
        var temp_Sdata = ["0.0", "0.0", "0.0", "0.0", "0.0", "0.0"];
        var joint_speed = [1.5962, 0, 0, 0, 0, 0]; // Drafted Velocity of robot
        var robot_tcp_speed = 1.0;

        for (var i = 5; i >= 0; i--) {
            temp_Pdata[i] = String(robot_pose[i]);
            temp_Sdata[i] = String(joint_speed[i])
        }
        //console.log("data", temp_Pdata); // For checking
        //console.log("data", temp_Sdata); // For checking
        var movelinear = new ROSLIB.Message({
            data: "movel(p[" + temp_Pdata[0] + "," + temp_Pdata[1] + "," + temp_Pdata[2] + "," + temp_Pdata[3] + "," + temp_Pdata[4] + "," + temp_Pdata[5] + "],a=1.3962634015954636, v=" + temp_Sdata[0] + ")"
        });

        var temp_Jdata = ["0.0", "0.0", "0.0", "0.0", "0.0", "0.0"];
        var joint_value = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0];

        for (var e = 5; e >= 0; e--) {
            temp_Jdata[e] = String(joint_value[e]);
        }
        //console.log("data", temp_Jdata);
        var movejoint = new ROSLIB.Message({

            data: "movej([" + temp_Jdata[0] + "," + temp_Jdata[1] + "," + temp_Jdata[2] + "," + temp_Jdata[3] + "," + temp_Jdata[4] + "," + temp_Jdata[5] + "],a=1.3962634015954636, v=" + temp_Sdata[0] + ")"
        });

        var Z = temp_Pdata[2] * 1000;
        var X = temp_Pdata[1] * 1000;
        var Y = temp_Pdata[0] * 1000;
        var rx = temp_Pdata[3] * 1;
        var ry = temp_Pdata[4] * 1;
        var rz = temp_Pdata[5] * 1;
        // And finally, publish.
        cmdVel.publish(twist);

  //Subscribing to a Topic
  //----------------------

  // Like when publishing a topic, we first create a Topic object with details of the topic's name
  // and message type. Note that we can call publish or subscribe on the same topic object.
  var listener1 = new ROSLIB.Topic({
    ros : ros,
    name : '/joint_states',
    messageType : 'sensor_msgs/JointState'
  });

  // Then we add a callback to be called every time a message is published on this topic.
  listener1.subscribe(function(message) {
  //console.log('Received message on ' + listener1.name + ': ' + message.position);
  joint_value = message.position;
  joint_data_refresh();
  // If desired, we can unsubscribe from the topic as well.
  //listener1.unsubscribe();
  });
  
  var listener2 = new ROSLIB.Topic({
    ros : ros,
    name : '/robot_stateRT',
    messageType : 'ur_msgs/RobotStateRTMsg'
  });

  // Then we add a callback to be called every time a message is published on this topic.
  listener2.subscribe(function(message) {
  //console.log('Received message on ' + listener2.name + ': ' + message.tool_vector);
  robot_pose = message.tool_vector;
  motor_temp = message.motor_temperatures;
  tcp_speed = message.tcp_speed;
  joint_speed = message.qd_actual;
  pose_data_refresh();
  motor_temp_refresh();
  // If desired, we can unsubscribe from the topic as well.
  //listener2.unsubscribe();
  });

  // Getting a param value
  // ---------------------

  var favoriteColor = new ROSLIB.Param({
    ros : ros,
    name : 'favorite_color'
  });

  favoriteColor.set('red');
  favoriteColor.get(function(value) {
  console.log('My robot\'s favorite color is ' + value);
  });
</script>
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
                <div class="col-lg-12">
                   <h1 class="page-header">Robot Monitoring No.001</h1>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div id="urdf">
                </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
               <div class="col-lg-6">
             <div class="panel panel-default">
                <div class="panel-heading">
                    <b> End-effector Coordinates </b>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>TCP</th>
                                    <th>Position</th>
                                    <th>Speed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>X [mm]</td>
                                    <td> <div class=text id='robot_pose_x' /div> </td>
                                    <td> <div class=text id='speed_value_x' /div> </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Y [mm]</td>
                                    <td><div class=text id='robot_pose_y' /div></td>
                                    <td> <div class=text id='speed_value_y' /div> </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Z [mm]</td>
                                    <td><div class=text id='robot_pose_z' /div></td>
                                    <td> <div class=text id='speed_value_z' /div> </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>RX [rad]</td>
                                    <td><div class=text id='robot_pose_rx' /div></td>
                                    <td> <div class=text id='speed_value_rx' /div> </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>RY [rad]</td>
                                    <td><div class=text id='robot_pose_ry' /div></td>
                                    <td> <div class=text id='speed_value_ry' /div> </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>RZ [rad]</td>
                                    <td><div class=text id='robot_pose_rz' /div></td>
                                    <td> <div class=text id='speed_value_rz' /div> </td>
                                </tr>                                                                                                
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
               </div>
               <div class="col-lg-6">
             <div class="panel panel-default">
                <div class="panel-heading">
                   <b> Joint Value </b>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Joint Name</th>
                                    <th>Position</th>
                                    <th>Speed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Base_Joint [deg]</td>
                                    <td> <div class=text id='joint_value_1' /div></td>
                                    <td> <div class=text id='joint_1_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Shoulder_Joint [deg]</td>
                                    <td> <div class=text id='joint_value_2' /div></td>
                                    <td> <div class=text id='joint_2_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Elbow_Joint [deg]</td>
                                    <td> <div class=text id='joint_value_3' /div></td>
                                    <td> <div class=text id='joint_3_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Wrist_Joint_1 [rad]</td>
                                    <td> <div class=text id='joint_value_4' /div></td>
                                    <td> <div class=text id='joint_4_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>5</r>
                                    <td>Wrist_Joint_2 [rad]</td>
                                    <td> <div class=text id='joint_value_5' /div></td>
                                    <td> <div class=text id='joint_5_speed' /div></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Wrist_Joint_3 [rad]</td>
                                    <td> <div class=text id='joint_value_6' /div></td>
                                    <td> <div class=text id='joint_6_speed' /div></td>
                                </tr>                                                                                                
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
               </div>
              </div>

                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <b> Drag robot joint </b>
                                                                    </div>
                                                                    <br/>
                                                                    <div class="row">
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="BDOWN()" onmouseup="mouseup()"><i class="fa fa-arrow-left"></i></button>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <div class="progress">
                                                                                <div id='base_joint_value' class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                                                                    Base
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="BUP()" onmouseup="mouseup()"><i class="fa fa-arrow-right"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <br/>
                                                                    <div class="row">
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="SDOWN()" onmouseup="mouseup()"><i class="fa fa-arrow-left"></i></button>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <div class="progress">
                                                                                <div id='shoulder_joint_value' class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                                                                    Shoulder
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="SUP()" onmouseup="mouseup()"><i class="fa fa-arrow-right"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <br/>
                                                                    <div class="row">
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="EDOWN()" onmouseup="mouseup()"><i class="fa fa-arrow-left"></i></button>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <div class="progress">
                                                                                <div id='elbow_joint_value' class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                                                                    Elbow
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="EUP()" onmouseup="mouseup()"><i class="fa fa-arrow-right"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <br/>
                                                                    <div class="row">
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="W1DOWN()" onmouseup="mouseup()"><i class="fa fa-arrow-left"></i></button>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <div class="progress">
                                                                                <div id='wrist_1_joint_value' class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                                                                    Wrist_1
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="W1UP()" onmouseup="mouseup()"><i class="fa fa-arrow-right"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <br/>
                                                                    <div class="row">
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="W2DOWN()" onmouseup="mouseup()"><i class="fa fa-arrow-left"></i></button>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <div class="progress">
                                                                                <div id='wrist_2_joint_value' class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                                                                    Wrist_2
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="W2UP()" onmouseup="mouseup()"><i class="fa fa-arrow-right"></i></button>
                                                                        </div>
                                                                    </div>
                                                                    <br/>
                                                                    <div class="row">
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="W3DOWN()" onmouseup="mouseup()"><i class="fa fa-arrow-left"></i></button>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <div class="progress">
                                                                                <div id='wrist_3_joint_value' class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                                                                    Wrist_3
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-1">
                                                                            <button style="font-size:11px" onmousedown="W3UP()" onmouseup="mouseup()"><i class="fa fa-arrow-right"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="panel-heading">
                                                                    <b> Drag robot TCP </b>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-12">

                                                                        <div style="position:absolute; left:100px; top:54.7px; ">
                                                                            <button style="font-size:23px" onmousedown="UP()" onmouseup="mouseup()"><i class="fa fa-arrow-up"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>

                                                                        <div style="position:absolute; left:64.8px; top:92px; ">
                                                                            <button style="font-size:23px" onmousedown="LEFT()" onmouseup="mouseup()"><i class="fa fa-arrow-left"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>

                                                                        </div>

                                                                        <div style="position:absolute; left:136.67px; top:92.5px; ">
                                                                            <button style="font-size:23px" onmousedown="RIGHT()" onmouseup="mouseup()"><i class="fa fa-arrow-right"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>

                                                                        </div>

                                                                        <div style="position:absolute; left:100px; top:129.6px; ">
                                                                            <button style="font-size:23px" onmousedown="DOWN()" onmouseup="mouseup()"><i class="fa fa-arrow-down"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>

                                                                        <div style="position:absolute; left:260px; top:61px; ">
                                                                            <button style="font-size:25px" onmousedown="ZUP()" onmouseup="mouseup()"><i class="fa fa-arrow-up"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>

                                                                        <div style="position:absolute; left:260px; top:110px; ">
                                                                            <button style="font-size:25px" onmousedown="ZDOWN()" onmouseup="mouseup()"><i class="fa fa-arrow-down"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>

                                                                        <div style="position:absolute; left:260px; top:194.7px; ">
                                                                            <button style="font-size:23px" onmousedown="RyUP()" onmouseup="mouseup()"><i class="fa fa-arrow-up"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>

                                                                        <div style="position:absolute; left:224.8px; top:232px; ">
                                                                            <button style="font-size:23px" onmousedown="RxLEFT()" onmouseup="mouseup()"><i class="fa fa-arrow-left"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>

                                                                        </div>

                                                                        <div style="position:absolute; left:296.67px; top:232.5px; ">
                                                                            <button style="font-size:23px" onmousedown="RxRIGHT()" onmouseup="mouseup()"><i class="fa fa-arrow-right"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>

                                                                        </div>

                                                                        <div style="position:absolute; left:260px; top:269.6px; ">
                                                                            <button style="font-size:23px" onmousedown="RyDOWN()" onmouseup="mouseup()"><i class="fa fa-arrow-down"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>
                                                                        </div>
                                                                        <div style="position:absolute; left:64.8px; top:232px; ">
                                                                            <button style="font-size:23px" onmousedown="RzLEFT()" onmouseup="mouseup()"><i class="fa fa-arrow-left"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>

                                                                        </div>

                                                                        <div style="position:absolute; left:136.67px; top:232.5px; ">
                                                                            <button style="font-size:23px" onmousedown="RzRIGHT()" onmouseup="mouseup()"><i class="fa fa-arrow-right"></i></button>
                                                                            <br>
                                                                            <br>
                                                                            <br>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <style>
                                                                #slidecontainer {
                                                                    width: 100%;
                                                                }
                                                                
                                                                .slider {
                                                                    -webkit-appearance: none;
                                                                    width: 100%;
                                                                    height: 12px;
                                                                    border-radius: 5px;
                                                                    background: #045fe8;
                                                                    outline: none;
                                                                    opacity: 1;
                                                                    -webkit-transition: .2s;
                                                                    transition: opacity .2s;
                                                                }
                                                                
                                                                .slider:hover {
                                                                    opacity: 1;
                                                                }
                                                                
                                                                .slider::-webkit-slider-thumb {
                                                                    -webkit-appearance: none;
                                                                    appearance: none;
                                                                    width: 25px;
                                                                    height: 25px;
                                                                    border-radius: 50%;
                                                                    background: #000000;
                                                                    cursor: pointer;
                                                                }
                                                                
                                                                .slider::-moz-range-thumb {
                                                                    width: 20px;
                                                                    height: 20px;
                                                                    border-radius: 50%;
                                                                    background: #000000;
                                                                    cursor: pointer;
                                                                }
                                                            </style>
                                                            <div id="slidecontainer">
                                                                <input type="range" min="0" max="200" value="100" class="slider" id="Range">
                                                                <p>Velocity: <span id="output"></span></p>

                                                            </div>

                                                            <script>
                                                                var slider = document.getElementById("Range");
                                                                var output = document.getElementById("output");
                                                                output.innerHTML = slider.value * 0.010471975511965976;

                                                                slider.oninput = function() {
                                                                    robot_tcp_speed = output.innerHTML = this.value * 0.010471975511965976;
                                                                    //console.log("output", output);
                                                                    console.log("robot_tcp_speed", robot_tcp_speed);
                                                                }
                                                            </script>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <!-- /.container-fluid -->
                                                        </div>
                                                        <!-- /#page-wrapper -->

<script>
  /**
   * Setup all visualization elements when the page is loaded. 
   */
    // Connect to ROS.
    //var ros = new ROSLIB.Ros({
    //  url : 'ws://localhost:9090'
    //});

    // Create the main viewer.
    var viewer = new ROS3D.Viewer({
      divID : 'urdf',
      width : 740,
      height : 820,
      antialias : true,
      color:'#e5f2f9'
    });

    // Add a grid.
    //viewer.addObject(new ROS3D.Grid());
    viewer.addObject(new ROS3D.Grid({
      color:'#e5f2f9',
      cellSize: 0.5,
      num_cells: 20
    }));
    // Setup a client to listen to TFs.
    var tfClient = new ROSLIB.TFClient({
      ros : ros,
      angularThres : 0.01,
      transThres : 0.01,
      rate : 10.0
      //fixedFrame : '/my_frame'
      //fixedFrame: '/base_link'
    });

    // Setup the marker client.
    /*var markerClient = new ROS3D.MarkerClient({
      ros : ros,
      tfClient : tfClient,
      topic : '/visualization_marker',
      rootObject : viewer.scene
    });*/

    new ROS3D.UrdfClient({
      ros : ros,
      tfClient : tfClient,
      path : 'http://localhost:8080/universal_robot/',
      frameID : 'base_link', 
      dataType: 'JSONP',
      rootObject : viewer.scene,
      loader :  ROS3D.COLLADA_LOADER_2
    });
</script>

<script type="text/javascript">
  function joint_data_refresh() 
  {
    joint_value_deg[0] = joint_value[0]*180/3.14;
    document.getElementById("joint_value_1").innerHTML = joint_value_deg[0].toFixed(2);
    joint_value_deg[1] = joint_value[1]*180/3.14;
    document.getElementById("joint_value_2").innerHTML = joint_value_deg[1].toFixed(2);
    joint_value_deg[2] = joint_value[2]*180/3.14;
    document.getElementById("joint_value_3").innerHTML = joint_value_deg[2].toFixed(2);
    joint_value_deg[3] = joint_value[3]*180/3.14;
    document.getElementById("joint_value_4").innerHTML = joint_value_deg[3].toFixed(2);
    joint_value_deg[4] = joint_value[4]*180/3.14;
    document.getElementById("joint_value_5").innerHTML = joint_value_deg[4].toFixed(2);
    joint_value_deg[5] = joint_value[5]*180/3.14;
    document.getElementById("joint_value_6").innerHTML = joint_value_deg[5].toFixed(2);
     }
</script>  

<script type="text/javascript">
  function motor_temp_refresh() 
  {
    document.getElementById("speed_value_x").innerHTML = (tcp_speed[0]*1000).toFixed(4);
    document.getElementById("speed_value_y").innerHTML = (tcp_speed[1]*1000).toFixed(4);
    document.getElementById("speed_value_z").innerHTML = (tcp_speed[2]*1000).toFixed(4);
    document.getElementById("speed_value_rx").innerHTML = (tcp_speed[3]).toFixed(4);
    document.getElementById("speed_value_ry").innerHTML = (tcp_speed[4]).toFixed(4);
    document.getElementById("speed_value_rz").innerHTML = (tcp_speed[5]).toFixed(4);

    document.getElementById("joint_1_speed").innerHTML = (joint_speed[0]).toFixed(4);
    document.getElementById("joint_2_speed").innerHTML = (joint_speed[1]).toFixed(4);
    document.getElementById("joint_3_speed").innerHTML = (joint_speed[2]).toFixed(4);
    document.getElementById("joint_4_speed").innerHTML = (joint_speed[3]).toFixed(4);
    document.getElementById("joint_5_speed").innerHTML = (joint_speed[4]).toFixed(4);
    document.getElementById("joint_6_speed").innerHTML = (joint_speed[5]).toFixed(4);    
   }
</script>

<script type="text/javascript">
  function pose_data_refresh() 
  {
    document.getElementById("robot_pose_x").innerHTML = (robot_pose[0]*1000).toFixed(2);
    document.getElementById("robot_pose_y").innerHTML = (robot_pose[1]*1000).toFixed(2);
    document.getElementById("robot_pose_z").innerHTML = (robot_pose[2]*1000).toFixed(2);
    document.getElementById("robot_pose_rx").innerHTML = (robot_pose[3]*1).toFixed(4);
    document.getElementById("robot_pose_ry").innerHTML = (robot_pose[4]*1).toFixed(4);
    document.getElementById("robot_pose_rz").innerHTML = (robot_pose[5]*1).toFixed(4);
    
   }
</script>

<script>
   var pi=3.14;
    var id_1=document.getElementById('base_joint_value');
    window.setInterval(function(x){id_1.style.width=''+(((50*joint_value[0])/(2*pi))+50)+'%';},50);
    var id_2=document.getElementById('shoulder_joint_value');
    window.setInterval(function(x){id_2.style.width=''+(((50*joint_value[1])/(2*pi))+50)+'%';},50);
    var id_3=document.getElementById('elbow_joint_value');
    window.setInterval(function(x){id_3.style.width=''+(((50*joint_value[2])/(2*pi))+50)+'%';},50);
    var id_4=document.getElementById('wrist_1_joint_value');
    window.setInterval(function(x){id_4.style.width=''+(((50*joint_value[3])/(2*pi))+50)+'%';},50);
    var id_5=document.getElementById('wrist_2_joint_value');
    window.setInterval(function(x){id_5.style.width=''+(((50*joint_value[4])/(2*pi))+50)+'%';},50);
    var id_6=document.getElementById('wrist_3_joint_value');
    window.setInterval(function(x){id_6.style.width=''+(((50*joint_value[5])/(2*pi))+50)+'%';},50);
</script>

                                                        <script type="text/javascript">
                                                            function Update_robot_status() {
                                                                for (var i = 5; i >= 0; i--) {
                                                                    temp_Pdata[i] = String(robot_pose[i]);
                                                                    //temp_Sdata[i] = String(joint_speed[i])
                                                                }
                                                                //console.log("temp_Pdata=", temp_Pdata);
                                                                //console.log("temp_Sdata=", temp_Sdata);
                                                                movelinear.data = "movel(p[" + temp_Pdata[0] + "," + temp_Pdata[1] + "," + temp_Pdata[2] + "," + temp_Pdata[3] + "," + temp_Pdata[4] + "," + temp_Pdata[5] + "],a=1.3962634015954636, v=" + robot_tcp_speed + ")";
                                                                Update_robot_JointVal();

                                                            }

                                                            function Update_robot_JointVal() {
                                                                for (var e = 5; e >= 0; e--) {
                                                                    temp_Jdata[e] = String(joint_value[e]);
                                                                }
                                                                //console.log("temp_Jdata=", temp_Jdata);
                                                                movejoint.data = "movej([" + temp_Jdata[0] + "," + temp_Jdata[1] + "," + temp_Jdata[2] + "," + temp_Jdata[3] + "," + temp_Jdata[4] + "," + temp_Jdata[5] + "],a=1.3962634015954636, v=" + 1 + ")";
                                                            }

                                                            function RIGHT() {
                                                                timeout = setInterval(function() {
                                                                    X += 0.005 * 1000;
                                                                    robot_pose[1] += 0.005;
                                                                    document.getElementById("robot_pose_x").innerHTML = X.toFixed(2);
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function LEFT() {
                                                                timeout = setInterval(function() {
                                                                    X -= 0.005 * 1000;
                                                                    robot_pose[1] -= 0.005;
                                                                    document.getElementById("robot_pose_x").innerHTML = X.toFixed(2);
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function DOWN() {
                                                                timeout = setInterval(function() {
                                                                    Y += 0.005 * 1000;
                                                                    robot_pose[0] += 0.005;
                                                                    document.getElementById("robot_pose_y").innerHTML = Y.toFixed(2);
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function UP() {
                                                                timeout = setInterval(function() {
                                                                    Y -= 0.005 * 1000;
                                                                    robot_pose[0] -= 0.005;
                                                                    document.getElementById("robot_pose_y").innerHTML = Y.toFixed(2);
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function ZUP() {
                                                                timeout = setInterval(function() {
                                                                    Z += 0.005 * 1000;
                                                                    robot_pose[2] += 0.005;
                                                                    document.getElementById("robot_pose_z").innerHTML = Z.toFixed(2);
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function ZDOWN() {
                                                                timeout = setInterval(function() {
                                                                    Z -= 0.005 * 1000;
                                                                    robot_pose[2] -= 0.005;
                                                                    document.getElementById("robot_pose_z").innerHTML = Z.toFixed(2);
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function BUP() {
                                                                timeout = setInterval(function() {
                                                                   // joint_value_deg[0] += 0.03;
                                                                    joint_value[0] += 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_1").innerHTML = joint_value[0].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function BDOWN() {
                                                                timeout = setInterval(function() {
                                                                   // joint_value_deg[0] -= 0.03;
                                                                    joint_value[0] -= 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_1").innerHTML = joint_value[0].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function SUP() {
                                                                timeout = setInterval(function() {
                                                                    //joint_value_deg[1] += 0.03;
                                                                    joint_value[1] += 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_2").innerHTML = joint_value[1].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function SDOWN() {
                                                                timeout = setInterval(function() {
                                                                    //joint_value_deg[1] -= 0.03;
                                                                    joint_value[1] -= 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_2").innerHTML = joint_value[1].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function EUP() {
                                                                timeout = setInterval(function() {
                                                                    //joint_value_deg[2] += 0.03;
                                                                    joint_value[2] += 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_3").innerHTML = joint_value[2].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function EDOWN() {
                                                                timeout = setInterval(function() {
                                                                    //joint_value_deg[2] -= 0.03;
                                                                    joint_value[2] -= 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_3").innerHTML = joint_value[2].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function W1UP() {
                                                                timeout = setInterval(function() {
                                                                    //joint_value_deg[3] += 0.03;
                                                                    joint_value[3] += 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_4").innerHTML = joint_value[3].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function W1DOWN() {
                                                                timeout = setInterval(function() {
                                                                    //joint_value_deg[3] -= 0.03;
                                                                    joint_value[3] -= 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_4").innerHTML = joint_value[3].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function W2UP() {
                                                                timeout = setInterval(function() {
                                                                    //joint_value_deg[4] += 0.03;
                                                                    joint_value[4] += 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_5").innerHTML = joint_value[4].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function W2DOWN() {
                                                                timeout = setInterval(function() {
                                                                    //joint_value_deg[4] -= 0.03;
                                                                    joint_value[4] -= 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_5").innerHTML = joint_value[4].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function W3UP() {
                                                                timeout = setInterval(function() {
                                                                    //joint_value_deg[5] += 0.03;
                                                                    joint_value[5] += 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_6").innerHTML = joint_value[5].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function W3DOWN() {
                                                                timeout = setInterval(function() {
                                                                   // joint_value_deg[5] -= 0.03;
                                                                    joint_value[5] -= 0.03;
                                                                    Update_robot_status();
                                                                    document.getElementById("joint_value_6").innerHTML = joint_value[5].toFixed(2);
                                                                    joint_val.publish(movejoint);
                                                                    joint_data_refresh();
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function RxRIGHT() {
                                                                timeout = setInterval(function() {
                                                                    rx += 0.05;
                                                                    robot_pose[3] += 0.05;
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                    document.getElementById("robot_pose_rx").innerHTML = rx.toFixed(4)
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function RxLEFT() {
                                                                timeout = setInterval(function() {
                                                                    rx -= 0.05;
                                                                    robot_pose[3] -= 0.05;
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                    document.getElementById("robot_pose_rx").innerHTML = rx.toFixed(4)
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function RyDOWN() {
                                                                timeout = setInterval(function() {
                                                                    ry += 0.05;
                                                                    robot_pose[4] += 0.05;
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                    document.getElementById("robot_pose_ry").innerHTML = ry.toFixed(4)
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function RyUP() {
                                                                timeout = setInterval(function() {
                                                                    ry -= 0.05;
                                                                    robot_pose[4] -= 0.05;
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                    document.getElementById("robot_pose_ry").innerHTML = ry.toFixed(4)
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function RzRIGHT() {
                                                                timeout = setInterval(function() {
                                                                    rz += 0.05;
                                                                    robot_pose[5] += 0.05;
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                    document.getElementById("robot_pose_rz").innerHTML = rz.toFixed(4)
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function RzLEFT() {
                                                                timeout = setInterval(function() {
                                                                    rz -= 0.05;
                                                                    robot_pose[5] -= 0.05;
                                                                    Update_robot_status();
                                                                    linear_val.publish(movelinear);
                                                                    document.getElementById("robot_pose_rz").innerHTML = rz.toFixed(4)
                                                                }, 50);
                                                                return false;
                                                            }

                                                            function mouseup() {
                                                                clearInterval(timeout);
                                                                return false;
                                                            };
                                                        </script>
                                                        <script>
                                                        </script>
