<launch>

    
    <param name="aws_service_location" type="str" value=""  />
    <param name="aws_service_root_CA" type="str" value="$(find aws_gateway)/src/" />
    <param name="aws_service_cert" type="str" value="$(find aws_gateway)/src/" />
    <param name="aws_service_private_key" type="str" value="$(find aws_gateway)/src/" />
    <node name="aws_test" pkg="aws_gateway" type="AWS_ROS_pubsub"
    output="screen" />

</launch>
